body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background-attachment: fixed;
margin: 0;
font-family: 'poppins',sans-serif;
}
 
#form{
width: 400px;
margin: 20vh auto;
background-color: whitesmoke;
border-radius: 5px;
padding: 30px;
}
h1{
    text-align: center;
    color: blueviolet;
   
}
#form button{
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 5px;
    padding:10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;

}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top:5px ;
    padding: 10px;
    border: 1px solid blueviolet;
}
.input-group input:focus{
    outline: 0;
}
.input-group .error{
    color: rgb(242,18,18);
    font-size:16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: #0cc477;
}
.input-group.error input{
    border-color:rgb(206,67,67);
}